:root {
    --clr-neutral-900: hsl(207, 19%, 9%);
    --clr-neutral-100: hsl(0, 0%, 100%);
    --clr-accent-400: hsl(220, 73%, 47%);
    --clr-accent-600: #a424a6;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

.Content#cards {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 3em repeat(auto-fill, minmax(0, 6.5em));
    row-gap: 1em;
}

.card {
    color: var(--clr-neutral-900);
    background-color: rgb(246, 246, 246);
    background-size: cover;
    max-width: 70ch;
    border-radius: .5rem;
    overflow: hidden;
    cursor: pointer;
    border: black;
    border-width: .25em;
    border-style: inset;

    transition: transform 500ms ease;
}

.card:hover,
.card:focus-within {
    transform: scale(1.025);
}

.card-title {
    position: relative;
    width: max-content;
}

.card-title::after {
    content: "";
    position: absolute;
    height: 4px;
    left: calc(var(--padding) * -1);
    bottom: 0;
    width: calc(100% + var(--padding));
    background: linear-gradient(to right,
        var(--clr-accent-400),
        var(--clr-accent-600)
    );
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 500ms ease;

}

.card:hover .card-title::after,
.card:focus-within .card-title::after {
    transform: scaleX(1);
}

.card-content {
    --padding: 1.25rem;
    padding: var(--padding);
    background: linear-gradient(
        hsl(0, 0%, 0% / 0),
        hsl(0, 0%, 0% / 1)
    );
    transform: translateY(40%);
    transition: transform 500ms ease;
}

.card-content > *:not(.card-title) {
    opacity: 0;
    transition: opacity 500ms linear;
}

.card:hover .card-content > *:not(.card-title),
.card:focus-within .card-content > *:not(.card-title) {

    opacity: 1;
}

.card:hover .card-content,
.card:focus-within .card-content {
    transform: translateY(0);
}

.card:focus-within .card-content {
    transition-duration: 0ms;
}

.card-body {
    color: var(--clr-neutral-900);
}