.Content_editor {
  margin: 20px;
  display: grid;
  grid-area: content;
  grid-template-rows: 25px 50px 50px auto;
  grid-template-areas: 
  "back-button"
  "heading" 
  "topbar" 
  "editor";
}

.back-button {
  grid-area: back-button;
}

.button_save {
  display: inline-block;
  align-self: center;
  height: 2rem;
  padding: 0 10px;
  margin-left: auto;
  border-radius: 0.25rem;
  background-color: #215cd1;
  background-size: 200%;
  background-position: 0%;
  transition: 0.4s;
  font-weight: bold;
  color: white;
  cursor: pointer;
}

.button_save:hover {
  background-color: #1a47a1;
}

.buttons_container {
  grid-area: topbar;
  display: flex;
  justify-content: center;
  align-content: center;
  gap: 0.3rem;
}

.button_off {
  cursor: pointer;
  align-self: center;
  font-size: 1rem;
  font-weight: bold;
  width: 2rem;
  height: 2rem;
  border: 0.1rem solid rgb(175, 178, 182);
  border-radius: 0.25rem;
}

.button_on {
  cursor: pointer;
  align-self: center;
  font-size: 1rem;
  font-weight: bold;
  width: 2rem;
  height: 2rem;
  border: 0.1rem solid rgb(175, 178, 182);
  border-radius: 0.25rem;
  background-color: rgb(175, 178, 182);
  color: antiquewhite;
}

div.DraftEditor-root {
    border: 0.1rem solid rgb(175, 178, 182);
    border-radius: 0.25rem;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    background-color: whitesmoke;
    grid-area: editor;
    height: 100%;
    width: 100%;
    overflow-y: auto;
    padding: 1rem;
  }

  div.DraftEditor-editorContainer,
  div.public-DraftEditor-content {
    height: 100%;
  }

  .heading {
    border: 0.1rem solid rgb(175, 178, 182);
    border-radius: 0.25rem;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    background-color: whitesmoke;
    font-size: 16px;
    grid-area: heading;
    height: 100%;
    width: auto;
    overflow-y: auto;
    padding: 1rem;
  }
  