:root {
  --clr-neutral-900: hsl(207, 19%, 9%);
  --clr-neutral-100: hsl(0, 0%, 100%);
  --clr-accent-400: hsl(220, 73%, 47%);
  --clr-accent-600: #a424a6;
}

.App {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #53565A;
}

.Sidebar{
  display: grid;
  grid-template-rows: max-content auto;
  height: 100%;
  width: 300px;
  position: fixed;
  grid-area: sidebar;
  background-color: var(--clr-neutral-900);
  font-size:24px;
}

.Sidebar h3{
  margin-top: 0.5rem;
  text-align: center;
  font-size:30px;
  margin-bottom: 1rem;
  color: var(--clr-accent-400);
  height: max-content;
}

.Sidebar ol{
  list-style-type: none;
  margin: 1rem;
  margin-top: 0;
}

.Sidebar a{
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 20% auto;
  text-align: center;
  padding: 0.25rem;
  margin-bottom: 1rem;
  text-decoration: none;
  color: var(--clr-accent-400);
  background-color: var(--clr-neutral-900);
  border-radius: 10rem;
  border-color: var(--clr-accent-400);
  border-width: 3px;
  border-style: solid;
  transition: 250ms ease;
}

.Sidebar a.selected {
  background-color: var(--clr-accent-400);
  color: var(--clr-neutral-900);
}

.Sidebar a:hover{
  background-color: var(--clr-accent-400);
  color: var(--clr-neutral-900);
}

.Article h1{
  display: grid;
  grid-template-columns: 1fr auto auto;
  grid-column-gap: 1%;
  padding-bottom: 1rem;
}

.Article h2{
  padding-bottom: 0.5rem;
}

.Article{
  margin-left: 5%;
  margin-right: 20%;
} 

.Page {
  width:100vw;
  height:100vh;
  background-color: white;
  display: grid;
  grid-template-columns: 300px auto;
  grid-template-areas: 
    "sidebar content";
}

.Content {
  margin: 20px;
  grid-area: content;
  grid-auto-flow: row;
}

.button {
  display: inline-block;
  padding: 10px 15px;
  border-radius: 8px;
  background-image: linear-gradient(to right, #215cd1 50%, #215cd1 50%, #a424a6);
  background-size: 200%;
  background-position: 0%;
  transition: 0.4s;
  color: white;
  font-weight: 700;
  cursor: pointer;
}

.button:hover {
  background-position: 100% 0%;
}

.button_delete {
  display: inline-block;
  padding: 10px 15px;
  border-radius: 8px;
  background-color: #df3a3a;
  background-size: 200%;
  background-position: 0%;
  transition: 0.4s;
  color: white;
  font-weight: 700;
  cursor: pointer;
}

.button_delete:hover {
  background-color: #bd3131;
}

.button_edit{
  display: inline-block;
  padding: 10px 15px;
  border-radius: 8px;
  background-color: #215cd1;
  background-size: 200%;
  background-position: 0%;
  transition: 0.4s;
  color: white;
  font-weight: 700;
  cursor: pointer;
}

.button_add{
  display: inline-block;
  padding: 10px 15px;
  margin-bottom:0px;
  border-radius: 8px;
  background-color: #215cd1;
  background-size: 200%;
  background-position: 0%;
  transition: 0.4s;
  color: white;
  font-weight: 700;
  cursor: pointer;
}

.button_edit:hover {
  background-color: #1a47a1;
}

.back-button {
  cursor: pointer;
  transition: 0.4s;
}

.back-button:hover {
  color: #215cd1;
  text-decoration: underline;
  text-underline-offset: 2px;
}

.dialog {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .7);
  z-index: 1000;
}

.dialog-content {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-areas: 
    "message"
    "buttons";
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 0.25rem;
  background-color: white;
  padding: 2rem;
  z-index: 1000;
}

.dialog-message {
  grid-area: message;
  text-align: center;
  font-size: 18px;
  row-gap: 2rem;
}

.dialog-buttons-container {
  grid-area: buttons;
  padding-top: 1rem;
  place-self: end;
}

.dialog-button {
  cursor: pointer;
  align-self: center;
  font-size: 1rem;
  font-weight: bold;
  width: 4rem;
  height: 2rem;
  border-radius: 0.25rem;
  background-color: #df3a3a;
  transition: 0.4s;
  color: whitesmoke;
}

.dialog-button:hover {
  background-color: #bd3131;
}

.yes {
  margin-left: 0.25rem;
  background-color:hsl(220, 73%, 47%);
}

.yes:hover {
  background-color: #1a47a1;
}